.app{
    display: grid;
    grid-auto-rows: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 400px;
    /* gap: 0.3px; */
    background-color: black;
    
}
.output{
    grid-column: 1/5;
    color: white;
    justify-content: end;
    font-size: 30px;
    display: grid;
    align-items: end;
    
}
.triple{
    grid-column: 1/4;
}
.double{
    grid-column: 1/3;
}

.orange:hover{
    /* filter: saturate(4); */
    background-color: #dd8d37;
}

.child{
    border: 1px solid #000;
    font-size: 30px;

}
.orange{
    background-color: orange;
}
/* .screen{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: black;
} */